@import "tailwindcss";

@theme {
  --color-ds-light: #BE9CFF;
  --color-ds-dark: #120075;
}

.fadeIn {
  animation: fadeIn 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-selector:hover,
.ant-select-open .ant-select-selector {
  border-color: var(--color-ds-light) !important;
}

.ant-select-selector {
  cursor: pointer !important;
}

.recharts-surface {
  overflow: visible;
}